version: "3.8"

services:
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    environment:
      - STORAGE_TYPE=mem
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    container_name: keycload
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_FEATURES: token-exchange,admin-fine-grained-authz
    ports:
      - "8000:8080"
    restart: unless-stopped
    command:
      - start-dev