spring:
  application:
    name: gateway
  main:
    allow-bean-definition-overriding: true

server:
  port: 8080

service:
  product_uri: ${PRODUCT_SERVICE_URL:http://localhost:8081}

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  metrics:
    tags:
      application: gateway